services:
  api:
    build: .
    container_name: backend-course-6-dev
    ports:
      - "3001:3000"
      - "9229:9229"
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev


  db:
    image: mysql:8
    container_name: bc2025-7-db
    restart: unless-stopped
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: inventory
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data:
